<div class="w3-half w3-padding">
<h3>Host: <%= @event.user.first_name %></h3>
<h3>Date: <%= @event.date.strftime('%D') %></h3>
<h3>Location: <%= @event.city %>,<%= @event.state %></h3>
<h3>Number of people joining the event: <%= @event.attendees.length %></h3>
<table class="w3-table w3-bordered w3-striped w3-card-4">
	<thead>
		<th>Name</th>
		<th>City</th>
		<th>State</th>
	</thead>
	<tbody>
			<% @event.users.each do |u| %>
		<tr>
			<td><%= u.first_name %></td>
			<td><%= u.city %></td>
			<td><%= u.state %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<div class="w3-half w3-padding">
<h3>Discussion about this event:</h3>
	<form method="post" action="/comments">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<div rows='10' cols='50'>
			<% @comments.each do |f| %>
				<%= f.user.first_name %> said: <%= f.comment %><br>
			<% end %>
		</div><br>
		<input class="w3-input" type="text" name="comment" placeholder="Add Comment..."><br>
		<input class="w3-input" type="submit" name="Submit Comments">
		<input type="hidden" value= "<%= @event.id %>" name="event">
	</form>
</div>